/* Global Footer
/* ---------------------------------------------------------- */

.gh-foot {
    background-color: #fff;
    padding: 10vw 0;
    color: var(--color-base);
}

.gh-foot a {
    color: var(--color-base);
}

.gh-foot-menu {
    float: right;
}

.gh-foot-menu .nav {
    list-style: none;
    font-size: 1.6rem;
}

.gh-foot-menu .nav li {
    margin-bottom: 0.25vmin;
    padding: 0;
    display: block;
}

.gh-foot-menu .nav a {
    display: inline-block;
    padding: 3px 0;
    text-decoration: underline;
}

.gh-foot-meta-title {
    font-size: 2.4rem;
    color: #000;
    margin-bottom: 4rem;
}

.gh-foot-meta {
    margin: 0;
    font-size: 1.5rem;
    text-align: left;
    float: left;
}

.gh-foot-meta p {
    margin-bottom: 1rem;
}

@media (max-width: 700px) {
    .gh-foot-menu .nav {
        font-size: 1.6rem;
    }
}
